@import "./reset";
@import "./vars";

// @font-face {
@font-face {
  font-family: "Yu-Gothic";
  src: url("./fonts/yugothib/yugothib.ttf") format("truetype");
}

@font-face {
  font-family: "Yu-Gothic-Light";
  src: url("./fonts/yugothib/yugothil.ttf") format("truetype");
}

// Body
body {
  background: $white;
  margin: $item-centered;
}

// Header
.header__div-logo {
  margin: $item-centered;
  padding: 29px 0;
  width: $container-width;
}

// Section
section {
  position: relative;
  margin: 45px auto 88px;
  width: $container-width;
  small {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #999999;
  }
  h3 strong {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 17px;
  }
}
section:after {
  content: "";
  display: table;
  clear: both;
}
article {
  width: 720px;
  float: left;
}
aside {
  padding-top: 20px;
  background-color: #efefef !important;
  width: 340px;
  float: right;
}
.h3__title--recommended {
  font-family: "MS Gothic", Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.article--list-main {
  width: 720px;
}

.article--list-main li {
  list-style-image: url("https://i.ibb.co/Kxp0K3j/img-item.png");
}

.article--list-main li:hover {
  list-style-image: url("https://i.ibb.co/3RYGpFG/img-item-hovered.png");
}

.article--list-main li a,
.article--list-recommend a {
  color: #000000;
  text-decoration: none;
}

.article--list-main li a:hover h3 {
  color: #e7ba2f;
}

.article--list-main li:hover,
.article--list-main li a:hover,
.article--list-main h3 li a:hover {
  cursor: pointer;
}

.article--list-recommend li {
  list-style-image: url("https://i.ibb.co/Phrkmkr/img-item-banner-small.png");
}

button.button-more {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: #333333;
  width: 404px;
  height: 40px;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20pt;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button.button-more:hover,
button.button-more:focus {
  background: #484747;
}
.list-banner--small li {
  margin-bottom: 18px;
}

// Sidebar

.sidebar-banner img,
.article--list-sidebar {
  margin-bottom: 40px;
}

.sidebar-list-details,
.sidebar-list-img {
  float: left;
}

.sidebar-list-details {
  font-size: 17px;
}

.sidebar-list-img img {
  width: 112px;
  height: 63px;
}

.sidebar-list-details p {
  font-size: 17px;
}

.sidebar-list-details small {
  font-size: 17px;
}

.sidebar-list-img img,
.sidebar-list-details {
  margin-bottom: 40px;
}

// Footer
footer {
  background: $black;
  width: 100%;
  position: relative;
  .footer__div {
    margin: $item-centered;
    width: $container-width;
    height: 45px;
    line-height: 45px;
  }
  .footer__nav {
    float: left;
    > a {
      margin-right: 19px;
      font-family: "Yu-Gothic", "Yu-Gothic-Light", "MS Gothic", sans-serif;
      font-size: 17px;
      color: white;
      text-align: left;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#footer-copyright {
  font-family: Helvetica, "MS PGothic", sans-serif;
  font-size: 19px;
  color: white;
  text-align: right;
  float: right;
}

/**** 
 =Overrides */

// Slider
.slider-icon[data-v-d5c2db1a] {
  width: 30px !important;
  height: 48px !important;
  border-left: none !important;
  border-bottom: none !important;
}
.slider-icon-left[data-v-d5c2db1a] {
  background: url("https://i.ibb.co/chhcwdW/icon-slider-left.png") no-repeat;
  transform: rotate(0) !important;
}
.slider-icon-right[data-v-d5c2db1a] {
  background: url("https://i.ibb.co/chhcwdW/icon-slider-right.png") no-repeat;
  transform: rotate(-180deg) !important;
}
.slider {
  margin: 0 auto;
  .slider-btn-left[data-v-d5c2db1a] {
    margin-left: 161px !important;
  }
  .slider-btn-right[data-v-d5c2db1a] {
    margin-right: 161px !important;
  }
  .slider-btn-left[data-v-d5c2db1a],
  .slider-btn-right[data-v-d5c2db1a] {
    background: transparent !important;
  }
  .slider-indicator-icon {
    margin: 0 10px !important;
    background-color: #ffffff !important;
    width: 16px !important;
    height: 16px !important;
  }
  .slider-indicator-active {
    background-color: #e7ba2f !important;
  }
}
