@import "./reset";
@import "./vars";

// @font-face {
@font-face {
  font-family: "Yu-Gothic";
  src: url("./fonts/yugothib/yugothib.ttf") format("truetype");
}

@font-face {
  font-family: "Yu-Gothic-Light";
  src: url("./fonts/yugothib/yugothil.ttf") format("truetype");
}

// Body
body {
  background: $white;
  margin: $item-centered;
}

hr {
  margin: 0 20px 20px;
  width: 300px;
  border: 1px solid #000;
}

// Header
.header__div-logo {
  margin: $item-centered;
  padding: 29px 0;
  width: $container-width;
}

// Section
section {
  position: relative;
  margin: 45px auto 88px;
  width: $container-width;
  small {
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #999999;
    width: 457px;
    text-align: left;
    float: left;
  }
  h3 {
    margin-bottom: 10px;
    strong {
      line-height: 1.5em;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.25em;
    }
  }
  p {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: 0.5em;
  }
}
section:after {
  content: "";
  display: table;
  clear: both;
}
article {
  float: left;
}
aside {
  padding-top: 20px;
  background-color: #efefef !important;
  width: 340px;
  float: right;
}
.h3__title--recommended strong {
  font-family: "MS Gothic", Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.25em;
}

.article__container {
  width: 720px;
}

.article__list-main {
  margin-left: 263px;
  li {
    margin-bottom: 42px;
    list-style-image: url("https://i.ibb.co/Kxp0K3j/img-item.png");
    width: 457px;
    &:hover {
      list-style-image: url("https://i.ibb.co/3RYGpFG/img-item-hovered.png");
    }
  }
}

.article__list-recommend {
  margin-left: 140px;
  margin-bottom: 40px;
  float: left;
  li {
    margin-bottom: 18px;
    list-style-image: url("https://i.ibb.co/Phrkmkr/img-item-banner-small.png");
    width: 166px;
    float: left;
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    margin-bottom: 8px;
    letter-spacing: 0.25em;
  }
  small {
    margin-bottom: 0;
  }
}

.article__list-main li a,
.article__list-recommend a {
  color: #000000;
  text-decoration: none;
  text-align: left;
}

.article__list-main li a:hover h3 {
  color: #e7ba2f;
}

.article__list-main li,
.article__list-recommend {
  &:hover,
  a:hover {
    cursor: pointer;
  }
}

.article__list-main h3 li a:hover {
  cursor: pointer;
}

button.button-more {
  background: #333333 url("https://i.ibb.co/wYSDrCd/icon-arrow-font.png")
    no-repeat 95% 50%;
  display: inline-block;
  border: none;
  margin: 40px 0 10px;
  text-decoration: none;
  width: 404px;
  height: 40px;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover,
  &:focus {
    background: #484747 url("https://i.ibb.co/wYSDrCd/icon-arrow-font.png")
      no-repeat 95% 50%;
  }
}

.list-banner--small {
  margin-top: 20px;
  clear: both;
  li {
    margin-bottom: 18px;
  }
}

// Sidebar

.sidebar-banner img {
  margin-bottom: 40px;
}

.sidebar-list-details,
.sidebar-list-img {
  float: left;
}

.sidebar-list-details {
  font-size: 17px;
}

.sidebar-list-img img {
  width: 112px;
  height: 63px;
}

.sidebar-list-details p {
  font-size: 17px;
}

.sidebar-list-details small {
  font-size: 17px;
}

.sidebar-list-img img,
.sidebar-list-details {
  margin-bottom: 40px;
}

// Footer
footer {
  background: $black;
  width: 100%;
  position: relative;
  .footer__div {
    margin: $item-centered;
    width: $container-width;
    height: 45px;
    line-height: 45px;
  }
  .footer__nav {
    float: left;
    > a {
      margin-right: 19px;
      font-family: "Yu-Gothic", "Yu-Gothic-Light", "MS Gothic", sans-serif;
      font-size: 14px;
      color: white;
      text-align: left;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#footer-copyright {
  font-family: Helvetica, "MS PGothic", sans-serif;
  font-size: 14px;
  color: white;
  text-align: right;
  float: right;
}

/**** 
 =Overrides */

// Slider
.slider-icon[data-v-d5c2db1a] {
  width: 30px !important;
  height: 48px !important;
  border-left: none !important;
  border-bottom: none !important;
}
.slider-icon-left[data-v-d5c2db1a] {
  background: url("https://i.ibb.co/chhcwdW/icon-slider-left.png") no-repeat;
  transform: rotate(0) !important;
}
.slider-icon-right[data-v-d5c2db1a] {
  background: url("https://i.ibb.co/chhcwdW/icon-slider-right.png") no-repeat;
  transform: rotate(-180deg) !important;
}
.slider {
  margin: 0 auto;
  .slider-btn-left[data-v-d5c2db1a] {
    margin-left: 161px !important;
  }
  .slider-btn-right[data-v-d5c2db1a] {
    margin-right: 161px !important;
  }
  .slider-btn-left[data-v-d5c2db1a],
  .slider-btn-right[data-v-d5c2db1a] {
    background: transparent !important;
  }
  .slider-indicator-icon {
    margin: 0 10px !important;
    background-color: #ffffff !important;
    width: 16px !important;
    height: 16px !important;
  }
  .slider-indicator-active {
    background-color: #e7ba2f !important;
  }
}
